<%- include('encabesado.ejs')%>
    <form action="/editar" method="post">
        <div class="">
            <div class="card mx-auto mt-5" style="width: 25rem;">
                <div class="card-body">
                    <input type="hidden" name="id" value="<%= fila[0].id %>">
                    <div class="modal-body">
                        <label>Nombre del producto</label>
                        <input type="text" name="nombre" class="form-control" required minlength="4" maxlength="30"
                            value="<%= fila[0].nombre %>">

                        <label>Marca</label>
                        <select class="form-select" name="marca">
                            <% for(let element of marca) { %><option value="<%= element.id %>"
                                <%= element.id == fila[0].marca ? 'selected' : '' %>>
                                <%= element.marca %>
                            </option><% } %>
                        </select>

                        <label>Precio</label>
                        <input type="number" name="precio" class="form-control" required min="0"
                            value="<%=fila[0].precio %>">

                        <label>Stock</label>
                        <input type="number" name="stock" class="form-control" required min="0" max="500"
                            value="<%=fila[0].stock %>">

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
    </form>
</body>
<%- include('pie_pagina.ejs')%>
</html>